<% query ||= '' %>
<div class='Block PadWidth Search'>
  <input type='search' class='Borderless' id='searchField' placeholder='Search Camelback' value='<%= query %>' autocomplete="off" />
  <div id='searchResultsContainer'></div>
</div>