<% query ||= '' %>
<div class='Block PadWidth Search'>
  <input type='search' class='Borderless' id='searchField' placeholder='Search for posts, artists, tags, or writers' value='<%= query %>' autocomplete="off" />
  <div id='searchResultsContainer'></div>
</div>