<ul class='TagSuggestions'>
<% tags.each do |tag| %>
  <li class="<%= tag == tags.first ? 'Selected' : '' %>" data-tag-id='<%= tag.id %>' data-tag-length='<%= tag.length %>'><%= tag.name %></li>
<% end %>
</ul>