<%= render 'shared/search_bar' %>
<p class='Hidden' id='tags'><%= @tags.to_json %></p>
<p class='Hidden' id='creator'><%= @creator.name %></p>

<h1>Tags</h1>
<section id='tagList'></section>

<%= render 'shared/admin_footer' %>