<% provide(:title, @tag.name) %>
<%= render 'shared/search_bar' %>
<div id='posts'>
  <h1>Posts tagged with <%= @tag.name %></h1>
  <% @posts.each do |p| %>
    <%= render_post_partial(p) %>
  <% end %>
</div>
<% if @page_count > 1 %>
  <%= render 'shared/pager', page: @page, page_count: @page_count, path_base: @page_path_base %>
<% end %>