@mixin vendor-prefix($name, $argument) {
  #{$name}: #{ $argument };
  -webkit-#{$name}: #{ $argument };
  -ms-#{$name}: #{ $argument };
  -moz-#{$name}: #{ $argument };
  -o-#{$name}: #{ $argument };
}

.Hidden {
  display: none
}

.Block {
  border-bottom: 1px dotted transparentize(black, 0.85);
  margin-bottom: 2.25em;
  overflow: hidden;
  padding: 1.5em 0;
  position: relative;
  width: 588px;
  @include vendor-prefix(transition, 'height 1s, opacity 1s');
  &.PadWidth {
    width: 616px;
  }
  &.Tile {
    background-color: transparentize(white, 0.5);
    border-bottom: none;
    @include vendor-prefix(box-shadow, '0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset');
    padding: 14px;
  }
  @media(max-width: 629px) {
    width: 392px;
    &.PadWidth {
      width: 420px;
    }
  }
  @media(max-width: 429px) {
    width: 292px;
    &.PadWidth {
      width: 320px
    }
  }
}

input.Borderless, textarea.Borderless {
  background: transparent;
  border: none;
  border-bottom: 1px dotted #CCC;
  box-shadow: none;
  color: #777;
  margin-bottom: 0;
  resize: none;
}

#searchField {
  background-color: transparentize(scale-color(#fff, $lightness: -2%), 0.35);
  border-bottom: none;
  &:focus {
    box-shadow: none;
  }
} 

#social .fa a {
  color: #777;
  @include vendor-prefix(transition, color 0.25s);
  &:hover {
    color: #F6921E;
  }
}

.SocialActions {
  position: relative;
  .fb-like {
    margin-right: 0.5em;
  }
  .twitter-share-button {
    position: relative;
    top: 2px;
  }
}

#admin {
  border-top: 1px solid #DDD;
  padding: 1em;
  text-align: center;
}