/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

#container {
  clear: both;
  margin: auto;
  overflow: hidden;
  width: 920px;
}
#left {
  display: inline-block;
  float: left;
  height: 100px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 152px;
}
#content {
  display: inline-block;
  float: left;
  overflow: hidden;
  vertical-align: top;
  width: 616px;
}
#right {
  display: inline-block;
  float: left;
  position: relative;
  vertical-align: top;
  width: 152px;
}

#logo {
  display: inline-block;
  float: right;
  margin-right: 13px;
  position: relative;
  text-align: right;
  top: 21px;
  width: 139px;
}
#name {
  display: inline-block;
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
  top: 4px;
}
#social {
  display: inline-block;
  float: left;
  font-size: 1.5em;
  margin-left: 7px;
  position: relative;
  top: 30px;
}

@media(max-width: 929px) {
  #container {
    width: 620px;
  }
  #left {
    height: 40px;
    margin-top: 10px;
  }
  #logo {
    top: 0;
  }
  #content {
    clear: both;
    display: block;
  }
  #right {
    /*clear: both;*/
    display: none;
  }
}
@media(max-width: 629px) {
  #container, #footer {
    width: 420px;
  }
  #left {
    display: block;
    float: none;
    text-align: center;
    width: 100%;
  }
  #logo {
    float: none;
  }
}
@media(max-width: 429px) {
  #container, #footer {
    width: 320px;
  }
}