/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'shared';

.Hidden {
  display: none;
}

.BkgBlur {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.4;
  position: fixed;
  top: 0;
  z-index: -2;
}

.Block {
  &.BopPost, &.SoundcloudPost, &.SpotifyPost, &.YoutubePost, &.VimeoPost {
    position: relative;
    .DeletePost {
      color: #AAA;
      font-size: 18px;
      position: absolute;
      right: 4px;
      top: 4px;
      @include vendor-prefix(transition, color 0.25s);
      &:hover {
        color: #666;
        cursor: pointer;
      }
    }
    .EditPost {
      // font-size: 18px;
      position: absolute;
      right: 4px;
      top: 28px;
      .fa {
        color: #AAA;
        font-size: 0.9em; 
        @include vendor-prefix(transition, color 0.25s);
        &:hover {
          color: #666;
          cursor: pointer;
        }
      }
    }
    .PostDeleted {
      margin-bottom: 1em;
    }
    .PostImage {
      display: inline-block;
      height: 220px;
      margin-right: 5px;
      vertical-align: top;
      width: 220px;
    }
    .PostEmbed {
      display: inline-block;
      height: 180px;
      width: 384px;
      .DownloadButton {
        width: 100%;
        .button {
          padding: 0.5em inherit;
          width: 100%;
        }
      }
    }
    .PostBody {
      margin-top: 1.5em;
    }
    .PostMeta {
      color: #777;
    }
    .DownloadButton {
    }
    .CommentLink {
      display: inline-block;
      // margin-left: 8px;
    }
    @media(max-width: 630px) {
      .PostImage {
        display: block;
        height: auto;
        margin-bottom: 0.5em;
        width: 100%;
      }
      .PostEmbed {
        display: block;
        width: 100% !important;
        iframe {
          width: 100%;
        }
      }
      .PostBody {
        margin-top: 4em;
        h1 {
          font-size: 1.5em;
        }
      }
    }
  }
  &.BopPost {
    .PostEmbed {
      width: 359px;
      iframe {
        height: 180px;
      }
    }
  }
  &.SoundcloudPost {
    position: relative;
    .PostEmbed {
      width: 348px;
    }
  }
  &.SpotifyPost {
    .PostEmbed {
      display: inline-block;
      height: auto;
      vertical-align: top;
      width: 280px;
    }
    .PostBody {
      display: inline-block;
      margin-right: 7px;
      margin-top: 0;
      vertical-align: top;
      width: 283px;
      .PostImage {
        height: 283px;
        width: 283px;
      }
    }
    footer {
      margin-top: 0.6em;
    }
  }
  &.YoutubePost, &.VimeoPost {
    .PostEmbed {
      height: 350px;
      width: 100%;
    }
    .PostBody {
      .PostImage {
        display: inline-block;
        margin-right: 7px;
        height: 220px;
        width: 220px;
      }
      .PostText {
        display: inline-block;
        width: 358px;
      }
    }
    .PostMeta {
      margin-top: 1em;
    }
    @media(max-width: 629px) {
      .PostEmbed {
        height: 250px;
      }
      .PostBody {
        margin-top: 1em;
      }
    }
    @media(max-width: 429px) {
      .PostEmbed {
        height: 200px;
      }
    }
  }
  &.VimeoPost {
    .PostEmbed {
      height: 340px;
    }
    @media(max-width: 629px) {
      .PostEmbed {
        height: 230px;
      }
    }
    @media(max-width: 429px) {
      .PostEmbed {
        height: 170px;
      }
    }
  }
  &.NewPost {
    border: 3px solid #F6921E;
    height: 10px;
    opacity: 0.1;
  }
  .Voting {
    display: inline-block;
    margin-right: 0.5em;
    .VoteCount {
      // color: #F6921E;
      font-weight: 600;
      margin-right: 0.2em;
    }
    .fa {
      color: #777;
      font-size: 1.5em;
      margin-right: 0.5em;
      @include vendor-prefix(transition, color 0.25s);
      &:hover {
        color: #F6921E;
        cursor: pointer;
      }
      &.VoteActive {
        color: #F6921E;
      }
    }
  }
}

.PostContent.Faded {
  opacity: 0.25;
}

.CreatePost {
  @media(max-width: 630px) {
    display: none;
  }
  .TagSuggestionsContainer {
    background: transparentize(white, 0.1);
    border-bottom: 1px dotted #CCC;
    left: 1.0em;
    // padding: 0.5em 0;
    position: absolute;
    right: 1.0em;
    z-index: 1;
    .TagSuggestions {
      list-style: none;
      margin: 0;
      padding: 0.5em 0;
      li {
        padding: 0.35em;
        &.Selected {
          background: #F6921E;
          color: white;
        }
      }
    }
  }
  .TagHighlight {
    background-color: transparentize(#F6921E, 0.9);
    border: 1px solid transparentize(#F6921E, 0.75);
    border-radius: 3px;
    position: absolute;
  }
  .TagPrompt {
    padding: 0 0.7em;
  }
  .NewPostContentBlock {
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 3px;
  }
  #newPostImage {
    color: #777;
    display: inline-block;
    font-weight: 600;
    height: 202px;
    margin-bottom: 1em;
    margin-right: 5px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 220px;
    #imageInput {
      display: block;
      font-weight: 600;
      height: 37px;
      left: 50%;
      margin: -18px 0 0 -94px;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 188px;
    }
  }
  #newPostPlayerEmbed {
    display: inline-block;
    height: 202px;
    margin-bottom: 1em;
    position: relative;
    vertical-align: top;
    width: 358px;
    #embedInput {
      display: block;
      font-weight: 600;
      height: 37px;
      left: 50%;
      margin: -18px 0 0 -169px;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 338px;
    }
  }
  #newPostTitle {
    margin-bottom: 1em;
    padding: 0.5em 0;
    position: relative;
    #titleInput {
      border-bottom: none;
      font-size: 26px;
      font-weight: 600;
    }
  }
  #newPostContent {
    position: relative;
  }
  #newPostDownloadLink {
  }
  #tagsInput {
    border-bottom: none;
  }
  #newPostPublish, #updatePost {
    font-weight: 600;
    margin-bottom: 0.35em;
    margin-top: 1em;
  }
}