/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

@import 'shared';

.Hidden {
  display: none;
}

.Block {
  &.BopPost, &.SoundcloudPost {
    .PostImage {
      display: inline-block;
      height: 202px;
      margin-right: 5px;
      vertical-align: top;
      width: 202px;
    }
    .PostEmbed {
      display: inline-block;
      height: 202px;
    }
    .PostMeta {
      color: #777;
    }
    .DownloadButton {
    }
    .CommentLink {
      display: inline-block;
      // margin-left: 8px;
    }
  }
  &.SoundcloudPost {
    .PostEmbed {
      width: 348px;
    }
  }
  &.NewPost {
    border: 3px solid #F16214;
    height: 10px;
    opacity: 0.1;
  }
}

.CreatePost {
  .TagSuggestionsContainer {
    background: transparentize(white, 0.1);
    border-bottom: 1px dotted #CCC;
    left: 1.0em;
    // padding: 0.5em 0;
    position: absolute;
    right: 1.0em;
    z-index: 1;
    .TagSuggestions {
      list-style: none;
      margin: 0;
      padding: 0.5em 0;
      li {
        padding: 0.35em;
        &.Selected {
          background: #F16214;
          color: white;
        }
      }
    }
  }
  .TagHighlight {
    background-color: transparentize(#F16214, 0.9);
    border: 1px solid transparentize(#F16214, 0.75);
    border-radius: 3px;
    position: absolute;
  }
  .TagPrompt {
    padding: 0 0.7em;
  }
  .NewPostContentBlock {
    background: #EEE;
    border: 1px solid #DDD;
    border-radius: 3px;
  }
  #newPostImage {
    color: #777;
    display: inline-block;
    font-weight: 600;
    height: 202px;
    margin-bottom: 1em;
    margin-right: 5px;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 202px;
    #imageInput {
      display: block;
      font-weight: 600;
      height: 37px;
      left: 50%;
      margin: -18px 0 0 -94px;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 188px;
    }
  }
  #newPostPlayerEmbed {
    display: inline-block;
    height: 202px;
    margin-bottom: 1em;
    position: relative;
    vertical-align: top;
    width: 358px;
    #embedInput {
      display: block;
      font-weight: 600;
      height: 37px;
      left: 50%;
      margin: -18px 0 0 -169px;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 338px;
    }
  }
  #newPostTitle {
    margin-bottom: 1em;
    padding: 0.5em 0;
    position: relative;
    #titleInput {
      border-bottom: none;
      font-size: 26px;
      font-weight: 600;
    }
  }
  #newPostContent {
    position: relative;
  }
  #newPostDownloadLink {
  }
  #twitterInput {
    border-bottom: none;
  }
  #newPostPublish {
    font-weight: 600;
    margin-bottom: 0.35em;
    margin-top: 1em;
  }
}