<% provide(:title, "#{ @contributor.name }'s posts") %>
<%= render 'shared/search_bar' %>
<div id='posts'>
  <h1><%= @contributor.name %>&#39;s posts</h1>
  <% @posts.each do |p| %>
    <%= render_post_partial(p, nil, false, @is_logged_in) %>
  <% end %>
</div>
<% if @page_count > 1 %>
  <%= render 'shared/pager', page: @page, page_count: @page_count, path_base: @page_path_base %>
<% end %>